Sphinx>=4
sphinxcontrib-bibtex
sphinx_autodoc_typehints
sphinx_book_theme==1.1.4
sphinx-design
sphinx-copybutton

ipykernel
nbsphinx

Levenshtein
matplotlib
numpy
pandas
praat-parselmouth
scipy
seaborn
sounddevice
