name: Packaging

on:
  push:
    branches:
      - main
      - stable
      - docs
      - actions*
    tags:
      - v*
  workflow_dispatch:

jobs:
  build:
    name: Build wheel and sdist
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install build dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build check-manifest

      - name: Run check-manifest
        run: |
          python -m check_manifest

      - name: Build
        run: |
          python -m build

      - name: Upload built packages
        uses: actions/upload-artifact@v3
        with:
          name: packages
          path: dist/*
          if-no-files-found: error

  create_release:
    name: Create release
    runs-on: ubuntu-latest
    if: github.ref_type == 'tag' && startsWith(github.ref_name, 'v')
    needs: [build]

    permissions:
      contents: write

    steps:
      - name: Collect wheel and sdist
        uses: actions/download-artifact@v3
        with:
          name: packages
          path: dist

      - name: Collect executables
        uses: actions/download-artifact@v3
        with:
          name: executables
          path: dist

      - name: Upload wheel, sdist, and executables to release
        uses: ncipollo/release-action@v1
        with:
          name: ${{ github.ref_name }}
          draft: true
          artifacts: dist/*
          token: ${{ secrets.GITHUB_TOKEN }}
